<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Canva-Air-brakes-with-car.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Get in Touch</h1>
            <h3>We would love to hear from you</h3>
        </div>
    </div>
</div>
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Let us know how we can assist</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Name</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Contact Number</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-mobile"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Contact Number" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Query Type</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <select class="form-control">
                                    <option value="GeneralQuery">General Query</option>
                                    <option value="Quote">Quote</option>
                                    <option value="ComplainCompliment">Complaint or Compliment</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Subject</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-align-center"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Subject" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Message</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-caps-small"></i></span>
                                </div>
                                <textarea class="form-control" rows="4" placeholder="Please describe your query"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-danger btn-lg btn-fill"><i class="nc-icon nc-spaceship"></i>&nbsp;&nbsp;&nbsp;&nbsp;Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
