
PE_Air_Brakes/.vs/PE_Air_Brakes/DesignTimeBuild/.dtbcache.v2
PE_Air_Brakes/.vs/PE_Air_Brakes/v16/.suo
PE_Air_Brakes/bin/Release/netcoreapp3.1/PE_Air_Brakes.deps.json
PE_Air_Brakes/bin/Release/netcoreapp3.1/PE_Air_Brakes.dll
PE_Air_Brakes/bin/Release/netcoreapp3.1/PE_Air_Brakes.pdb
PE_Air_Brakes/bin/Release/netcoreapp3.1/publish/api/PE_Air_Brakes.1.0.0.nupkg
PE_Air_Brakes/obj/Debug/netcoreapp3.1/PE_Air_Brakes.csproj.AssemblyReference.cache
PE_Air_Brakes/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.AssemblyInfo.cs
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.AssemblyInfoInputs.cache
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.assets.cache
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.csproj.AssemblyReference.cache
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.csproj.CoreCompileInputs.cache
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.csproj.FileListAbsolute.txt
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.dll
PE_Air_Brakes/obj/Release/netcoreapp3.1/PE_Air_Brakes.pdb
PE_Air_Brakes/obj/Release/PE_Air_Brakes.1.0.0.nuspec
PE_Air_Brakes/PE_Air_Brakes.csproj.user
PE_Air_Brakes/Properties/PublishProfiles/FolderProfile.pubxml
PE_Air_Brakes/Properties/PublishProfiles/FolderProfile.pubxml.user
UI/.config/dotnet-tools.json
UI/ClientApp/e2e/app.e2e-spec.ts
UI/ClientApp/e2e/src/app.e2e-spec.ts
UI/ClientApp/src/environments/environment.prod.ts
UI/ClientApp/Web.config
