<footer class="footer" style="background-color: black; border-top: 5px solid red; ">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.freeprivacypolicy.com/live/72b551ee-c406-43ed-9daa-4c45fdc12833">Privacy Policy</a></li>
                    <li><a href="https://www.freeprivacypolicy.com/live/3236c0ff-9c6c-4aaf-9628-be2fbe067e54">Cookie Policy</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © {{currentYearDate | date: 'yyyy'}}, developed by VF Solutions
              </span>
            </div>
        </div>
    </div>
</footer>
