<div class="page-header" data-parallax="true" style="background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.67), rgba(255,0,0,0.2)), url('./assets/img/airbreak-system.jpg'); background-position: center center;">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="font-overlay">Get in Touch</h1>
      <h3 class="font-overlay">We would love to hear from you</h3>
    </div>
  </div>
</div>
<div class="main">
  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Let us know how we can assist</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-12">
                <label>Name</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group">
                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <label>Contact Number</label>
                <div class="input-group">
                  <span class="input-group-text"> <i class="nc-icon nc-mobile"></i></span>
                  <input type="text" class="form-control" placeholder="Contact Number">
                </div>
              </div>
              <div class="col-md-12">
                <label>Query Type</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="nc-icon nc-email-85"></i></span>
                  <select class="form-control">
                    <option value="GeneralQuery">General Query</option>
                    <option value="Quote">Quote</option>
                    <option value="ComplainCompliment">Complaint or Compliment</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <label>Subject</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="nc-icon nc-align-center"></i></span>
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>
              <div class="col-md-12">
                <label>Message</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="nc-icon nc-caps-small"></i></span>
                  <textarea class="form-control" rows="4" placeholder="Please describe your query"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-lg btn-fill custom-button"><i class="nc-icon nc-spaceship"></i>&nbsp;&nbsp;&nbsp;&nbsp;Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
